.mil-preloader .mil-preloader-animation .mil-pos-abs .mil-reveal-frame .mil-reveal-box {
    background-color: #7e6239;
}


.mil-main-menu ul li a.mil-active:before {
    -webkit-transform: scale(1);
    transform: scale(1);
    background-color: #7e6239;
}

.mil-main-menu ul li.mil-active > a {
    color: #7e6239;
}

.mil-main-menu ul li.mil-active > a:hover {
    color: #ebcc9d !important;
    -webkit-filter: brightness(110%);
    filter: brightness(110%);
}

.mil-dark-bg video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    opacity: 0.3;
    filter: invert(100%); /* عكس ألوان الفيديو فقط */
    -webkit-filter: invert(100%);
}

.mil-custom-logo {
    width: 100px;
    top: 10px;
    height: auto;
    display: block;
    position: absolute;
    z-index: 9999 !important;
    /* لضمان ظهورها فوق التظليل */
    /*filter: none !important;*/
    filter: invert(100%); /* عكس ألوان الفيديو فقط */
    /*-webkit-filter: invert(100%);*/
    /* لمنع قلب الألوان */
}

.mil-button {
    background-color: #7e6239;
    color: rgb(0, 0, 0);
}

.mil-button:hover {
    background-color: #ebcc9d;
    color: #7e6239;
}

.mil-arrow path {
    fill: #7e6239 !important;
}


.trapezoid-grid {
    /*padding-top: 50px;*/
    padding-left: 15%;
    display: grid;

    grid-template-columns: repeat(8, 80px); /* 8 عناصر دائمًا في الصف */
    column-gap: 60px;
    row-gap: 40px;
    grid-auto-rows: 130px;
    overflow: hidden;
    align-items: center;

    position: absolute;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;


    /*clip-path: polygon(*/
    /*    15% 0,*/
    /*    100% 0,*/
    /*    100% 100%,*/
    /*    50% 100%*/
    /*);*/
}

.trapezoid {
    width: 100%;
    height: 170%;
    background: #000;
    position: relative;
    z-index: 1;

    rotate: -15deg;
    clip-path: polygon(0% 0%, 80% 10%, 80% 80%, 0% 100%);

    --row-shift: 0px;

    opacity: 0;
    transform: translateX(var(--row-shift)) rotate(-10deg);
    transition: opacity 0.5s ease,
    filter 0.5s ease,
    transform 0.5s ease;


}

/* الصف 1 */
.trapezoid:nth-child(n + 1):nth-child(-n + 8) {
    --row-shift: 0px;
}

/* الصف 2 */
.trapezoid:nth-child(n + 9):nth-child(-n + 16) {
    --row-shift: 140px;
    /*background-color: red;*/
}

/* الصف 3 */
.trapezoid:nth-child(n + 17):nth-child(-n + 24) {
    --row-shift: 280px;
}

/* الصف 4 */
.trapezoid:nth-child(n + 25):nth-child(-n + 32) {
    --row-shift: 420px;
}

/* الصف 5 */
.trapezoid:nth-child(n + 33):nth-child(-n + 40) {
    --row-shift: 560px;
}

.trapezoid.show {
    filter: drop-shadow(5px 10px black);
    opacity: 0.05 !important;
    transform: translateX(var(--row-shift)) rotate(-10deg);
    transition: opacity 0.5s ease,
    filter 0.5s ease,
    transform 0.5s ease;
}


.mil-button.mil-icon-button-sm svg {
    margin-left: 0;
    background-color: #7e6239;
}

.mil-button.mil-icon-button-sm path {
    fill: #000 !important;
}

.mil-service-card-sm:before {
    background-color: #7e6239;
}

.mil-footer-menu ul li a:hover {
    color: #7e6239;
}

.mil-footer-menu ul li.mil-active a {
    color: #7e6239;
}

.mil-team-card:after {
    background-color: #ebcc9d;
}

.mil-team-card .mil-description .mil-secrc-text a:hover {
    color: #ebcc9d;
}

.social-icon {
    pointer-events: auto !important;
}

.social-icon:hover {
    color: #7e6239!important;
}

.mil-service-card-sm p {
    opacity: 0.5;
}
